.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #979797;
    text-align: center;
    background: rgba(202, 208, 228, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
 }

 .footer-lists{
    list-style-type:none;
    margin-top: 10px;
    font-size: 10px;
 }

 .footer-lists li{
    padding: 5px 0px;
 }

 .logo{
    width: 52px;
    margin-left: 40px;
}

.mb-4, .my-4 {
    margin-bottom: 0.5rem !important;
}

.mt-4, .my-4 {
    margin-top: 0.1rem !important;
}